@using Orders.Core.Models
@using Orders.Infrastructure.Data.Models
@model List<OrderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Управление на поръчките</h1>
            </div>
        </div>
    </div>
</section>

    <div class="row">
            <div class="container-fluid">

        <label for="start">Start date:</label>

        <input type="date" id="startDate" name="trip-start"
               value="@DateTime.Now.ToString("dd-MM-yyyy")"
               min="2022-01-01" max="2022-12-31">

        <label for="start">End date:</label>

        <input type="date" id="endDate" name="trip-start"
               value="@DateTime.Now.ToString("dd-MM-yyyy")"
               min="2022-01-01" max="2022-12-31">

        <a class="btn btn-block btn-outline-dark btn-sm" asp-controller="Order" asp-action="All"  asp-for="startDate" asp-route-startDate="startDate">Create Order</a>
                </div>

    </div>

<form class="form-horizontal">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow">
                        <div class="table-responsive">
                            <table class="table align-items-center">

                                <thead>
                                    <tr style="color: #fff; background-color: #dc3545;">
                                        <th class="table-web" scope="col">ID</th>
                                        <th class="table-web" scope="col">Ресторант</th>
                                        <th class="table-web" scope="col">Създадена</th>
                                        <th class="table-web" scope="col">Статус</th>
                                        <th class="table-web" scope="col">Клиент</th>
                                        <th class="table-web" scope="col">Адрес</th>
                                        <th class="table-web" scope="col">Шофьор</th>
                                        <th class="table-web" scope="col">Цена</th>
                                        <th class="table-web" scope="col">Доставка</th>
                                        <th class="table-web" scope="col">Вид плащане</th>
                                        <th class="table-web" scope="col">Време за доставка</th>
                                        <th scope="col">Действие</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn badge badge-dark badge-pill" asp-action="Details" asp-route-id="@order.Id">Details</a>
                                            </td>
                                            <td>
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="mb-0 text-sm">@order.RestaurantName</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="table-web">
                                                <p>@order.Town,</p>
                                                <p>@order.DataCreated</p>
                                            </td>
                                            <td class="table-web">
                                                <span class="badge badge-pill" id="@order.Status">@order.Status</span>
                                            </td>
                                            <td>
                                                <p>@order.UserName
                                            </td>
                                            <td class="table-web">
                                                <p>@order.Street, @order.Number</p>
                                                <p>@order.Town</p>
                                            </td>
                                            <td class="table-web">
                                                @order.DriverName
                                            </td>
                                            <td>@order.Price.ToString("F2") лв.</td>
                                            <td>@order.DeliveryPrice.ToString("F2") лв.</td>
                                            <td>@order.PaymentType</td>
                                            <td>@order.TimeForDelivery мин.</td>
                                            <td>
                                                @if (User.IsInRole("Admin") && (@order.Status == Status.Приета || @order.Status == Status.ОтказанаШофьор ))
                                                {
                                                    <div class="card card-primary collapsed-card">
                                                        <div class="card-header">
                                                            <h3 class="card-title">Насочи към шофьор</h3>
                                                            <div class="card-tools">
                                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                                    <i class="fas fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="card-body" style="display: none;">
                                                            @foreach (var driver in ViewBag.drivers)
                                                            {
                                                                <a class="btn btn-block btn-outline-dark btn-sm" asp-action="AsignOrder" asp-route-driverId="@driver.Id"
                                                       asp-route-orderId="@order.Id">
                                                                    @driver.FirstName @driver.LastName
                                                                </a>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                                else if (@order.Status == Status.Изпратена && User.IsInRole("Driver"))
                                                {
                                                    <a class="btn btn-block btn-outline-dark btn-sm" asp-controller="Order" asp-action="Delivery"
                                               asp-route-orderId="@order.Id">Delivery Order</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                                <tfoot>
                                    <tr style="color: #fff; background-color: #dc3545;">
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col">@Model.Sum(x => x.Price).ToString("F2") лв.</th>
                                        <th class="table-web" scope="col">@Model.Sum(x => x.DeliveryPrice).ToString("F2") лв.</th>
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col"></th>
                                        <th class="table-web" scope="col"></th>
                                    </tr>
                                </tfoot>

                            </table>
                            <div class="card-tools">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item"><a href="#" class="page-link">«</a></li>
                                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
    </section>
</form>
