@using Orders.Core.Models
@using Orders.Infrastructure.Data.Models
@using System.Globalization
@model List<OrderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <form asp-action="All" method="get">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        От: <input type="date" name="From" data-date-format="dd-MM-yyyy" />
                        До: <input type="date" name="To" />
                        <input type="submit" value="Search" class="btn btn-default" />
                    </p>
                </div>

                <div class="col-md-6">
                    <p>
                        <strong>Най - нова поръчка:</strong> : @Model.Min(x => x.DataCreated).ToString("dd-MM-yyyy")
                        <strong>Най - стара поръчка:</strong> @Model.Max(x => x.DataCreated).ToString("dd-MM-yyyy")
                    </p>
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th class="sorting sorting_desc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Дата: activate to sort column descending">Дата</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="No: activate to sort column ascending">No</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Ресторант: activate to sort column ascending">Ресторант</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Клиент: activate to sort column ascending">Клиент</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Адрес: activate to sort column ascending">Адрес</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Шофьор: activate to sort column ascending">Шофьор</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Доставка: activate to sort column ascending">Доставка</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Цена: activate to sort column ascending">Цена</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Вид плащане: activate to sort column ascending">Вид плащане</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Време за доставка: activate to sort column ascending">Време за доставка</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Статус: activate to sort column ascending">Статус</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Действие: activate to sort column ascending">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model)
                            {
                                <tr class="odd">
                                    <td>@order.DataCreated.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <a asp-controller="Order" asp-action="Details" asp-route-Id="@order.Id">@order.OrderNumber</a>
                                    </td>
                                    <td class="dtr-control sorting_1" tabindex="0">@order.RestaurantName</td>
                                    <td>@order.UserName</td>
                                    <td>
                                        <p class="m-xl-auto">@order.Street, @order.Number</p>
                                    </td>
                                    <td>@order.DriverName</td>
                                    <td>@order.Price.ToString("F2") лв.</td>
                                    <td>@order.DeliveryPrice.ToString("F2") лв.</td>
                                    <td>@order.PaymentType</td>
                                    <td>@order.TimeForDelivery мин.</td>
                                    <td class="table-web">
                                        <span class="badge badge-pill" id="@order.Status">@order.Status</span>
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin") && (@order.Status == Status.Приета || @order.Status == Status.ОтказанаШофьор))
                                        {
                                            <div class="card card-primary collapsed-card">
                                                <div class="card-header">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                        Насочи към шофьор
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div class="card-body" style="display: none;">
                                                    @foreach (var driver in ViewBag.drivers)
                                                    {
                                                        <a class="btn btn-block btn-outline-dark btn-sm" asp-action="AsignOrder" asp-route-driverId="@driver.Id"
                                               asp-route-orderId="@order.Id">
                                                            @driver.FirstName @driver.LastName
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else if (@order.Status == Status.Изпратена && User.IsInRole("Driver"))
                                        {
                                            <a class="btn btn-block btn-outline-dark btn-sm" asp-controller="Order" asp-action="Delivery"
                                                            asp-route-orderId="@order.Id">Delivery Order</a>
                                        }
                                        else  @if ((User.IsInRole("Admin") && @order.Status == Status.Нова)
                                                            || (User.IsInRole("Driver") && @order.Status == Status.Насочена))
                                        {
                                            <a class="btn btn-info btn-sm order-action" asp-action="Action" asp-route-id="@order.Id" asp-route-accepted="@true">Приеми</a>
                                            <a class="btn btn-info btn-sm order-action" asp-action="Action" asp-route-id="@order.Id" asp-route-accepted="@false">Откажи</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/plugins/jszip/jszip.min.js"></script>
<script src="~/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/plugins/pdfmake/vfs_fonts.js"></script>
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>
