@using Orders.Core.Models
@model List<OrderViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Данни на поръчката</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" id="RestaurantId" name="RestaurantId" value="@Model.Select(x => x.RestaurantId).FirstOrDefault()">
                        <div class="form-group mb-auto">
                            <label>Ресторант: </label>
                            @Model.Select(x => x.RestaurantName).FirstOrDefault()
                        </div>
                        <div class="form-group mb-auto">
                            <label>Име клиент: </label>
                            @Model.Select(x => x.UserCreatedName).FirstOrDefault()
                        </div>
                        <div class="form-group mb-auto">
                            <label>Телефонен номер: </label>
                            @Model.Select(x => x.PhoneNumner).FirstOrDefault()
                        </div>
                        <div class="form-group mb-auto">
                            <label>Цена: </label>
                            @Model.Select(x => x.Price).FirstOrDefault().ToString("F2") лв.
                        </div>
                        <div class="form-group mb-auto">
                            <label>Цена на доставка: </label>
                            @Model.Select(x => x.DeliveryPrice).FirstOrDefault().ToString("F2") лв.
                        </div>
                        <div class="form-group mb-auto">
                            <label>Платена с: </label>
                            @Model.Select(x => x.PaymentType).FirstOrDefault()
                        </div>
                        <div class="form-group mb-auto">
                            <label>Време за доставка: </label>
                            @Model.Select(x => x.TimeForDelivery).FirstOrDefault().ToString("F0") мин.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-auto">
                            <h5><strong>Адрес:</strong></h5>
                        </div>
                        <div class="form-group mb-auto">
                            <label>Град: </label>
                            @Model.Select(x => x.Town).FirstOrDefault()
                        </div>
                        <div class="form-group mb-auto">
                            <label>Улица: </label>
                            @Model.Select(x => x.Street).FirstOrDefault()
                        </div>
                        <div class="form-group mb-auto">
                            <label>Номер: </label>
                            @Model.Select(x => x.Number).FirstOrDefault()
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card card-success">

            <div class="card-header">
                <h3 class="card-title">Хронология</h3>
            </div>
            <div class="card-body">

                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Време</th>
                            <th>Статус</th>
                            <th>Шофьор</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.OrderBy(x => x.LastStatusTime))
                        {
                            <tr class="odd">
                                <td>@order.UserName</td>
                                <td>@order.LastStatusTime</td>
                                <td>@order.Status</td>
                                <td>@order.DriverName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-1">
        @if (User.IsInRole("Admin") || User.IsInRole("Restaurant"))
        {

            <a asp-action="Edit" asp-route-id="@Model?.Select(x => x.Id).FirstOrDefault()" class="btn btn-block btn-outline-dark">Edit</a>
        }
    </div>
    <div class="col-md-1">
        <a asp-action="All" class="btn btn-block btn-outline-dark">Back</a>
    </div>

</div>
