@using Orders.Core.Models
@model List<DriverViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Main content -->
<form class="form-horizontal">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <section class="content">
                        
                        <div class="card card-solid">
                            <div class="card-body pb-0">
                                <div class="row">
                                        @foreach (var driver in Model)
                                        {
                                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                                <div class="card bg-light d-flex flex-fill">
                                                    <div class="card-header text-muted border-bottom-0">
                                                        Обект на шофьора!
                                                    </div>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="col-7">
                                                                <h2 class="lead"><b>@driver.Name</b></h2>
                                                                <p class="text-muted text-sm"><b>@driver.CarType : </b> @driver.CarNumber </p>
                                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Телефон: @driver.PhoneNumber</li>
                                                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Email: @driver.Email</li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-5 text-center">
                                                                <img src="@driver.DriverUrl" alt="user-avatar" class="img-circle img-fluid">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="text-right">
                                                            <a asp-action="Edit" asp-route-id="@driver.Id" class="btn btn-sm bg-teal">
                                                                <i class="fas fa-comments"></i>
                                                            </a>
                                                            <a asp-action="Details" asp-route-id="@driver.Id" class="btn btn-sm" style="background-color: #ffc107">
                                                                <i class="fas fa-user"></i> Виж профил
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                </div>
                            </div>
                        </div> 
                    </section>
                </div>
            </div>
        </div>
    </section>
</form>