@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;
@model List<RestaurantViewModel>
@{
    ViewData["Title"] = "Restaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Управление на ресторантите</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Ресторанти</a></li>
                    <li class="breadcrumb-item active">Всички</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-----------------------------------------------------list restaurants--------------------------------------------------------->
<!-- Main content -->
<form class="form-horizontal">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="body-wrapper">
                        <div class="bodywrapper__inner">
                            <div class="col-lg-6 col-sm-6">
                                <h6 class="page-title">Всички ресторанти</h6>
                            </div>
                            <div class="col-lg-6 col-sm-6 text-sm-right mt-sm-0 mt-3 right-part">
                                <form action="/search" method="GET" class="form-inline float-sm-right bg--white">
                                    <div class="input-group has_append">
                                        <input type="text" name="search" class="form-control" placeholder="Име, телефон или имейл"
                                               value="">
                                        <div class="input-group-append">
                                            <button class="btn btn--primary" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card b-radius--10">
                                    <div class="card-body p-0">
                                        <div class="table-responsive--md  table-responsive">
                                            <table class="table table--light style--two">
                                                <thead>
                                                    <tr style="color: #fff; background-color:#17a2b8;">
                                                        <th>Снимка</th>
                                                        <th>Ресторант</th>
                                                        <th>Телефон</th>
                                                        <th>Категория</th>
                                                        <th>Адрес</th>
                                                        <th>Създаден на</th>
                                                        <th>Активен</th>
                                                        <th>Редакция</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!------>
                                                    @{
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <img src="@item.Url" class="rounded" alt="@item.Name" width="50">

                                                                </td>
                                                                <td>
                                                                    <span class="font-weight-bold">@item.Name</span>
                                                                    <br>
                                                                    <span class="small">
                                                                        <a asp-action="Details" asp-route-id="@item.Id"><span></span>@item.UserEmail</a>
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    @item.Name<br>@item.PhoneNumner
                                                                </td>
                                                                <td>
                                                                    @item.Category
                                                                </td>
                                                                <td>
                                                                    <span class="font-weight-bold">@item.Town</span><br>@item.Area, @item.Street
                                                                </td>

                                                                <td>
                                                                    @item.Created <br> 
                                                                </td>
                                                                <td data-label="Featured">
                                                                    <i class="far fa-thumbs-up"></i>
                                                                </td>
                                                                <td data-label="Action">
                                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="text--primary" data-toggle="tooltip" title="" data-original-title="Edit">
                                                                        <span class="badge badge-warning">Промени</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                    }
                                                    }
                                                </tbody>

                                            </table><!-- table end -->
                                        </div>
                                    </div>
                                    <div class="card-footer py-4">
                                        <nav aria-label="...">
                                            <ul class="pagination justify-content-end mb-0">
                                                <li>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- bodywrapper__inner end -->
                </div><!-- body-wrapper end -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</form>
<!-- /.content -->
