@model List<ObjectViewModel>
@{
    ViewData["Title"] = "Restaurants";
}

<section>
    <div class="text-center container-fluid">
        @foreach (var item in Model)
        {
            <a class="btn btn-primary" asp-controller="Restaurant" asp-action="RemoveRestaurant" asp-route-restaurantId="@item.Id">
                <h3>@item.Name</h3>
                <img src="@item.Url"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="@item.Name"
                 height="300" />
                <div class="caption">
                    <p>@item.Description</p>
                </div>
            </a>
        }
    </div>
    }

</section>

